body {
    background-color:#F0F8FF;
    
}
h2{color: rgb(226, 72, 72);}
li {
    display: inline-block;
}
* {
    box-sizing: border-box;
    margin: 0;
}
section{
    display: block;
}
a {
    text-decoration: none;   
    color: black;
}
.ban-pic-tit, .news-tit a, .star-name, .news-pic-if, .active-if, .news-pt .lis-news a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*导航栏*/
.header
{
    background-color:rgb(252, 95, 192);

}
.header-wr {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.d2
{
    float: left;
}
.d2 .ico-h1 {
    background-image: url(public.png);
    background-position: 0 0;
    height: 28px;
    width: 88px;
    display: inline-block;
}
.d1
{
    
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color:rgb(252, 95, 192);
    
    width: 900px;
    position: relative;
    
}  
.d1 li{
    display: inline-block;
    padding: 0 20px;
}

.d1 .on {
    background-color: rgb(236, 68, 180);
    
}

.d1 li a
{
    
    display: block;
    color:#FFFFFF;
    font-size: 18px;
    text-align: center;
    padding:20px 16px;
    text-decoration: none;
    font-weight: normal;

}
.d1 li a:hover,li a:active
{
    background-color: rgb(236, 68, 180);
}
.d1 li a.one:hover {text-decoration: underline;color: rgb(252, 110, 245);}
/*导航栏结束*/

/*搜索框*/
.search {padding: 30px 0;}
form 
{
    position: relative;
    width: 650px;
    margin: 0 auto;
}

input, button {
    border: none;
    outline: none;
}


.bar input {
    border: 2px solid #EA5085;/*底框*/
    width: 600px;
    height: 42px;
    border-radius: 5px;
    background: transparent;
    float: right;
    transition: .3s linear;
    background-image: url(search.ico);
    background-repeat: no-repeat;
    background-size: 35px;/*放大镜图片大小*/
    background-position:5px center;/*放大镜图片位置*/
    padding:0 0 0 60px;
}
.bar input:focus{
    border-color: rgb(184, 75, 75);
    width: 700px;
}
.bar button {
    background:#EA5085;
    border-radius: 0 5px 5px 0;
    width: 60px;
    top: 0px;
    right: 0;
    height: 42px;
    cursor: pointer;
    position: absolute;
}
.bar button:before {
    content: "搜索";
    
    font-size: 20px;
    color:white;
}

.sousuob{
	width: 586px;
	height: 21px;

}
.tsl a{
    color: #b8b3b2;
    
}
.tsl li{
    margin-top: 4px;
    
    margin-right:7px;
}
.more{
	display: inline;
	
}
.sousuob ul {
    width: 620px;
    
}

/*搜索框结束*/


/*显示框*/
.gd1 
{ 
    padding: 40px 0; 
}
.gd-k1
{ 
    width: 1000px;
    margin: 0 auto; 
    position: relative;
    height: 337px;
}

.ban 
{ 
    float: left; 
    width: 720px; 
    height: 330px; 
    position: relative; 
}

.ban-pic 
{ 
    position: relative; 
    width: 100%; 
    height: 100%; 
}

.ban-pic-it 
{ 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0; 
    top: 0; 

}

.ban-pic, .ban-pic-svt 
{ 
    width: 720px; 
    height: 330px; 
}

.ban-pic-svt 
{ 
    overflow: hidden; 
}


.ban-pic-tit 
{ 
    position: absolute; 
    left: 0; 
    bottom: 0px; 
    font-size: 18px; 
    line-height: 44px; 
    width: 720px; 
    padding: 8px 160px 8px 20px; 
    color: white; 
    font-weight: 500; 
    background: rgba(0, 0, 0, 0.34);

}

.lis-ban-dot 
{ 
    position: absolute; 
    right: 34px; 
    bottom: 35px; 
    z-index: 10; 
}

.ban-dot-it 
{ 
    float: left; 
    width: 10px; 
    height: 10px; 
    border-radius: 100%; 
    background: rgba(255, 255, 255, 0.6); 
    margin: 0 6px; 
    cursor: pointer; 
}

.news 
{ 
    float: left; 
    padding: 0 0 0 16px; 
    width: 264px; 
}

.tit-news 
{
    background-image: url(NEWS.png); 
    background-position: 0 -28px; 
    background-repeat: no-repeat; 
    width: 182px; 
    height: 31px; 
}


.news-it 
{ 
    margin: 30px 0 0 0; 
}

.news-tit 
{ 
    font-weight: 500; 
    font-size: 16px; 
    width: 264px;
    height: 22px;
}
.news-tit a 
{ 
    float: left; 
    width: 219px; 
    padding-left: 7px; 
    color: black;
}

.news-it a:hover 
{ 
    color: #ff448c; 
}
.sn-if a:hover 
{ 
    color: #ff448c; 
}
.news-type 
{ 
    float: left; 
    display: block; 
    width: 38px; 
    height: 22px; 
    background: #ff448c; 
    color: white; 
    border-radius: 2px; 
    font-size: 12px; 
    line-height: 22px; 
    text-align: center; 
}

.news-if 
{ 
    font-size: 13px; 
    color: #666666; 
    line-height: 25px; 
    height: 50px; 
    overflow: hidden; 
}

/*显示框结束*/


/*图片廊*/
.picture{

	width: 100%;
	height: auto;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 20%;

}
.img {
    border: 1px solid #ccc;
    margin: 3px 1px;
    vertical-align: middle;
    text-align: center;
    
}

.img:hover {
    border: 1px solid #777;
    
}

.img img {
    width: 70%;
    height: 70%;
    border-radius:70%;
    text-align: center;
    line-height: 85%;
}

.desc {
    padding: 15px;
    text-align: center;
    color: rgb(97, 96, 96);
}






@media only screen and (max-width: 700px){
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}


/*图片廊结束*/




/*行程*/

.activity
{
    padding: 50px 0 50px 0 ;
    margin-top: 50px;
    display: block;
    height:1050px;
}
.at
{
    border-top: 1px solid #d6d6d6;
    width: 1000px;
    height:1000px;
    margin: 0 auto;
    position: relative;
        
    
}
.tit-at{
    padding: 50px 0 24px 0;
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #000;
    position: relative;
}
.ico-md {
    width: 10px;
    height: 4px;
    display: block;
    background: #000;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -5px;
}
.route {
    height: 770px;
    position: relative;
    text-align: center;
    
}
.in-route {
    position: relative;
    z-index: 2;
    height: 843px;
    text-align: left;
    padding: 0;
}
.in-route li {
    position: absolute;
}


.in-route a:hover .route-time { color: #ff488d; }


.route-it1 {
    left: 75px;
    margin-top: 54px;/*下加*/
}
.route-it2 {
    left: 136px;
    margin-bottom: 45px;/*下减*/
}
.route-it3 {
    left: 305px;
    margin-bottom: -95px;/*下减*/
}
.route-it4 {
    left: 559px;
    margin-top: 120px;/*下加*/
}
.route-it5 {
    left: 608px;
    margin-bottom: 29px;/*下减*/
}
.route-it6 {
    left: 803px;
    margin-bottom: -95px;/*下减*/
}

.route-single {
    width: 120px;
}

.route-up {
    bottom: 52%;
}
.route-mutil {
    width: 180px;
}

.route-down {
    top: 50%;
}


.route-up .route-detail {
    padding: 100px 0 0 14px;
    position: relative;
    margin-top: 60px;
}
.route-down .route-detail {
    padding: 0 0 100px 14px;
    position: relative;
    margin-bottom: 30px;
}

.route-detail {
    border-left: 1px solid #B2B2B2;
}
.route-down .route-pic {
    bottom: -10px;
    top: auto;
}

.route-pic {
    width: 86px;
    height: 86px;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.route .arrow {
    position: absolute;
    left: -2px;
    top: 0;
    background-image: url(1.png);
    background-position: -286px 0;
    background-repeat: no-repeat;
    _background-image: url(../imgs/icon_6.png);
    width: 5px;
    height: 197px;
}

.route-up .arrow {
    top: 40px;

}

.route-down .arrow {
    background-position: -291px 0;
    bottom: 10px;
    top: auto;
}

.route-time {
    font-size: 18px;
    color: #000;
    line-height: 24px;
    padding: 3px 0;
}
.route-detail p {
    display: block;
    -webkit-margin-before: 0.7em;
    -webkit-margin-after: 0.7em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.route-star {
    font-size: 16px;
    color: #ff488d;
    line-height: 20px;
    padding: 3px 0;
}


.route-if {
    font-size: 16px;
    color: #000;
    line-height: 20px;
    padding: 3px 0;
    opacity: 0.6;
}


.btn-schedule, .btn-play {
    position: absolute;
    left: -17px;
    top: 0;
    background-image: url(1.png);
    background-position: -155px -21px;
    background-repeat: no-repeat;
    _background-image: url(calendar-icon.png);
    width: 34px;
    height: 34px;
}

.route-down .btn-schedule, .route-down .btn-play {
    bottom: -30px;
    top: auto;
}




.route-single .route-if {
    width: 120px;
}



.route .line {
    background: url(2.jpg) center top;
    width: 1000px;
    height: 237px;
    position: absolute;
    left: 0;
    top: 350px;
    z-index: 1;
}

.ln-more {
    color: #000;
    opacity: 0.6;
    position: relative;
    z-index: 3;
    font-size: 16px;
    text-align: center;
    
}
.ln-more:hover { color: #000; opacity: 1; }


.btn-schedule {
    background-position: -189px -21px;
    top: auto;
}
.route-down.route-single .route-detail { padding-bottom: 60px; }
.route-down.route-single .route-pic { bottom: -30px; }

/*行程结束*/


/*新闻*/
.md-wr
{ 
    width: 1000px;
    margin: 0 auto; 
    position: relative;
    height: 2200px;
}
.md-m {
    float: left;
    width: 720px;
}
.md1 {
    padding: 36px 0 0 0;
}
.md1 .tit-md {
    width: 720px;
    margin-bottom: 20px;
}
.tit-md {
    padding: 4px 0 5px 0;
    margin: 0 auto;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    color: #000;
    position: relative;
}
.news-pt {
    margin: 32px 0 0 0;
    height:200px;
}
.news-main {
    width: 324px;
    float: left;
}
.news-pic-ln {
    display: block;
    position: relative;
}
.news-pic-wr, .news-pic {
    width: 324px;
    height: 185px;
}
.news-pt .lis-news .news-if {
    height: auto;
    font-size: 14px;
    line-height: 20px;
    padding-right: 40px;
    position: relative;
}
.news-pic-if {
    height: 50px;
    padding: 18px 10px 0 10px;
    font-size: 15px;
    color: white;
    line-height: 32px;
    width: 304px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: black;
    background: rgba(0, 0, 0, 0.3);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.news-pt .news-it, .news-pt .lis-news {
    float: left;
    width: 380px;
    padding-left: 16px;
    margin: 0;
}
.md1 .news-tit {
    padding-bottom: 5px;
    width: 364px;
    height: 32px;        
}

.news-pt .news-tit a {
    font-size: 18px;
    padding-left: 0;
    width: 100%;
}
.md1 .news-if {
    line-height: 20px;
    width: 364px;
    height: 45px;
}
.news-pt .lis-news a {
    display: block;
    padding: 3px 0;
}

.news-pt .lis-news .news-it {
    float: none;
    padding-left: 0;
}
.news-pt .news-it, .news-pt .lis-news {
    float: left;
    width: 380px;
    padding-left: 16px;
    margin: 0;
}
.news-pt .lis-news .time {
    position: absolute;
    right: 0;
    top: 3px;
    color: #cbcbcb;
    color: rgba(0, 0, 0, 0.4);
}
.md2 {
    padding: 25px 0 0 0;
    height: 500px;
}
.md2 .tit-md {
    width: 720px;
}
.lis-active {
    zoom: 1;
    height: 600px;
    padding: 0;
}
.active-it {
    float: left;
    margin: 40px 39px 0 0;
    padding: 7px;
    border: 1px solid #e6e6e6;
    height: 260px;
}
.active-pic-wr {
    position: relative;
}
.active-pic-wr, .active-pic {
    width: 324px;
    height: 185px;
}
.active-star {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 6px;
    top: 6px;
    color: white;
    display: block;
    padding: 4px 6px;
    border-radius: 3px;
}
.active-if {
    font-size: 15px;
    line-height: 40px;
    width: 324px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.active-party {
    color: #8d8d8d;
}
.party-num {
    font-size: 16px;
    color: #ff448c;
    padding-right: 3px;
}
.active-nopad {
    margin-right: 0;
}
.more-wr {
    text-align: center;
    padding: 36px 0;
}
.btn-more {
    color: #666666;
    font-size: 16px;
}
.aside {
    width: 280px;
    float: right;
    padding: 36px 0 0 40px;
    display: block;
}
.star-news {
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 6px;
}
.star-tit {
    color: #ff448c;
    font-size: 16px;
    font-weight: 500;
}
.sn-m {
    padding: 13px 0 0 76px;
    position: relative;
    min-height: 73px;
}
.sn-wr {
    position: absolute;
    left: 0;
    top: 15px;
}

.sn-wr, .sn-pic {
    width: 66px;
    height: 66px;
}
.sn-m .sn-if {
    font-size: 14px;
    padding: 0px 0 6px 0;
    line-height: 24px;
}
.sn-time {
    color: #666666;
    font-size: 12px;
}
.sn-if {
    font-size: 12px;
    line-height: 20px;
    padding: 10px 0 3px 0;
}
.btn-sn {
    color: #666666;
    position: absolute;
    right: 0;
    top: 11px;
}
/*新闻结束*/


.footer 
{ 
    background: #fff8fb; 
    
}

.follow-it { padding: 0 11px; position: relative; }

.follow-ln { width: 78px; height: 78px; border-radius: 100%; border: 1px solid #ff488d;  color: #ff488d; text-align: center; font-size: 14px; display: table-cell; vertical-align: middle; }
.follow-ln:hover { background: #ff488d; color: #fff; }

.follow-on .follow-ln { background: #ff488d; color: #fff; }

.follow-pt { zoom:1;width: 856px; margin: 0 auto; padding-left: 75px; padding-top: 28px; padding-bottom: 20px; }

.follow-if,.lis-follow { float: left; }
.lis-follow li {
    float: left;
}
.follow-if {width: 80px; color: #ff488d; font-size: 18px; padding: 30px 0 0 0; }
.lis-follow{
    padding-left: 0;
    zoom: 1;
}
.follow-code { position: absolute; left: 140px; top: 0; padding: 7px; border: 2px solid #ff5293; }


.ico-line { position: absolute; left: 10px; top: 10px; width: 1px; height: 60px; background: #ff488d; }

.follow-weixin { padding-left: 33px; }

.company { text-align: center; color: #ff488d; font-size: 14px; padding: 0 0 10px 0; }

.company-eng { text-align: center; color: #ff488d; font-size: 18px; padding: 0 0 20px 0; }

.company-if { text-align: center; font-size:12px;background: #ff488d; color: #fff; padding: 5px 0; }
.clearfix:after, .dw-pt:after, .lis:after, .follow-pt:after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.f-nav {
    text-align: center;
    padding-bottom: 10px;
}
.f-nav a, .f-nav span {
    color: #FF488D;
    font-size: 14px;
}
.follow-code .ico-arrow {
    width: 12px;
    height: 19px;
    position: absolute;
    left: -12px;
    top: 20px;
    background: url(页脚.png) 0 -30px no-repeat;
}
